<div class="container py-3">
  <h1 class="display-4 mb-5"><%= @yamalog.mountain_name %></h1>

  <div id="hikelog_info">
    <table class="bordered">
      <tbody>
        <tr>
          <th>投稿者</th>
          <td><%= @yamalog.user.email %></td>
        </tr>
        <tr>
          <th>日付</th>
          <td><%= @yamalog.hiking_date %></td>
        </tr>
        <tr>
          <th>天気</th>
          <td><%= @yamalog.weather %></td>
        </tr>
        <tr>
          <th>メンバー</th>
          <td><%= @yamalog.member %></td>
        </tr>
        <tr>
          <th>ルート</th>
          <td><%= @yamalog.route %></td>
        </tr>
      </tbody>
    </table>
    <% if %>
  </div>
</div>
