<div class="container py-3">
  <h1 class="display-4 mb-5"><%= @yamalog.mountain_name %></h1>

  <div id="hikelog_info">
    <table class="bordered">
      <tbody>
        <tr>
          <th>投稿者</th>
          <td><%= @yamalog.user.email %></td>
        </tr>
        <tr>
          <th>日付</th>
          <td><%= @yamalog.hiking_date %></td>
        </tr>
        <tr>
          <th>天気</th>
          <td><%= @yamalog.weather %></td>
        </tr>
        <tr>
          <th>メンバー</th>
          <td><%= @yamalog.member %></td>
        </tr>
        <tr>
          <th>ルート</th>
          <td><%= @yamalog.route %></td>
        </tr>
        <% if @yamalog.yamalog_pic? %>
          <tr>
            <th>写真</th>
            <td><%= link_to image_tag(@yamalog.yamalog_pic_url(:thumb)), @yamalog.yamalog_pic_url %></td>
          </tr>
        <% end %>
        <% if @yamalog.gpslog? %>
          <tr>
            <th>GPSログ</th>
            <td>
              <div id="map" class="map"></div>
              <%= hidden_field :yamalog, :gpslog_url, class: 'yamalog_gpslog_url' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if @yamalog.created_by?(current_user) %>
    <%= link_to 'ヤマログを編集', edit_yamalog_path(@yamalog), class: 'btn btn-info btn-lg' %>
    <%= link_to 'ヤマログを削除', yamalog_path(@yamalog), class: 'btn btn-danger btn-lg', method: :delete, data: { confirm: '本当に削除しますか？' } %>
  <% end %>
</div>
