<!DOCTYPE html>
<html>
  <head>
    <title>Hikerog</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <% if notice %>
      <div class="notice alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-warning"><%= alert %></div>
    <% end %>
    <%= render 'shared/header' %>
    <% if current_page?(root_path) %>
      <%= yield %>
    <% else %>
      <div class="container">
        <%= yield %>
      </div>
    <% end %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
